<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Werwolf</title>
	<meta name="description" content="Werwolf">
	<meta name="author" content="XilefTech">

	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="/static/style.css" />

    <script src="https://kit.fontawesome.com/2d88f1a615.js" crossorigin="anonymous"></script>
</head>
