{% include "head.html.j2" %}
<body>
	<div class="container color-foreground">
		<h1 class="item row heading">Welcome to Werewolf!</h1>

		<p class="item row">Wanna Join?</p>

		<form class="item" action="/" method="POST">
			{% if error %}
			<p class="row" style="color: red"><strong>{{ error }}</strong></p>
			{% endif %}
			<div class="row">
				<input type="text" name="name" placeholder="User123" maxlength="10"/>
				<input type="hidden" name="forceJoin" value="false" />

				<input type="submit" value="Join" />
			</div>
		</form>
        
		<div class="item row" style="height: 45px"></div>
        
		<form action="/narrator" method="GET">
            <input class="item row" type="submit" value="Join as Narrator" />
        </form>
	</div>
</body>
