{% include "head.html.j2" %}
<body>
	<div class="container color-foreground">
		<div class="item row sticky">
			<a href="/">
				<div class="button" type="submit">
					<svg class="icon center" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
					</svg>
				</div>
			</a>
			<h1 class="item row heading">Erzähler</h1>
			<a href="/narrator/settings">
				<div class="button settings">
					<i class="fa-solid fa-gear center"></i>
				</div>
			</a>
		</div>
		<div class="item row" style="height: 45px"></div>

		<div class="item row">
			<h2>Players:</h2>
			<ul></ul>
		</div>

		<div class="item">
			<h2 class="row">Roles</h2>
			<div class="row rolelist" id="playerRoles"></div>
		</div>

		<div class="item row" style="height: 20px"></div>
		<p class="row" id="roleError" style="color: red"></p>
		<button class="item row" id="start-button">Start Game</button>
		<button class="item row" id="end-button">End Game</button>
	</div>
</body>

<script>
	document.getElementById('end-button').onclick = function () {
		if (confirm('Are you sure you want to end this round?') == true) {
			fetch('/api/endgame').catch((e) => console.log('Something went wrong!'));

			list = document.getElementById('playerRoles');
			list.innerHTML = '<p><strong>Player</stong></p><p><strong>Role</stong></p><p><strong>Card</stong></p>';
		}
	};

	document.getElementById('start-button').onclick = async function () {
		await fetch('/api/startgame')
			.then((r) => r.json())
			.then((data) => (gameData = data))
			.catch((e) => console.log('Something went wrong!'));

		console.log(gameData);

		if (gameData['status'] != 'success') {
			document.getElementById('roleError').innerHTML = gameData['data'];
			setTimeout(function() {document.getElementById('roleError').innerHTML = ''}, 3000);
		} else {
			getGameData();
		}
	};
</script>

<script type="text/javascript">
	fetch('/api/gamestate')
		.then((r) => r.json())
		.then((data) => {
			if (data == 'running') {
				getGameData();
			}
		})
		.catch((e) => console.log('Something went wrong!'));

	async function getGameData() {
		// retrieve game data
		await fetch('/api/getGameData')
			.then((r) => r.json())
			.then((data) => (gameData = data))
			.catch((e) => console.log('Something went wrong!'));

		//clear the player list
		list = document.getElementById('playerRoles');
		list.innerHTML = '<p><strong>Player</stong></p><p><strong>Role</stong></p><p><strong>Card</stong></p>';

		// get the proper names for all the roles
		await fetch('/api/getRoleMappings')
			.then((r) => r.json())
			.then((data) => (roleMappings = data))
			.catch((e) => console.log('Something went wrong!'));

		// for each player, add a row with name, role and card
		for (const [name, role] of Object.entries(gameData)) {
			nameField = document.createElement('p');
			nameField.innerHTML = name.charAt(0).toUpperCase() + name.slice(1);

			roleField = document.createElement('p');
			roleField.innerHTML = roleMappings[role];

			// The card image, untilizing a checkbox to do the zooming-effect thingy
			// <div class="container">
			//   <input type="checkbox" id="zoomCheck">
			//   <label for="zoomCheck">
			//     <img src="https://via.placeholder.com/200">
			//   </label>
			// </div>
			div = document.createElement('div');
			div.className = 'zoomy_image';
			checkbox = document.createElement('input');
			checkbox.type = 'checkbox';
			checkbox.id = `${name}_zoomCheck`;
			label = document.createElement('label');
			label.htmlFor = `${name}_zoomCheck`;
			img = document.createElement('img');
			img.src = `/static/roles/${role}/card.png`;
			img.className = 'role-card';
			img.width = 50;
			img.height = 50;
			label.appendChild(img);
			div.appendChild(checkbox);
			div.appendChild(label);

			list.appendChild(nameField);
			list.appendChild(roleField);
			list.appendChild(div);
		}
	}
</script>

<script>
	// call api every 0.5 seconds to get the latest player list and update the page
	setInterval(getPlayers, 500);

	// maybe this can be put in a separate file? used in user.html as well
	async function getPlayers() {
		await fetch('/api/players')
			.then((r) => r.json())
			.then((data) => (players = data))
			.catch((e) => console.log('Something went wrong!'));

		console.log(players);
		let list = document.querySelector('ul');
		list.innerHTML = '';
		if (players.length > 0) {
			players.forEach((player) => {
				let li = document.createElement('li');
				li.innerText = player.charAt(0).toUpperCase() + player.slice(1);
				list.appendChild(li);
			});
			document.querySelector('h2').innerHTML = 'Players: ' + players.length;
		} else {
			let li = document.createElement('li');
			li.innerText = 'No players yet';
			list.appendChild(li);
			document.querySelector('h2').innerHTML = 'Players: 0';
		}
	}
</script>
