{% include "head.html.j2" %}
<body>
	<div class="container color-foreground">
		<div class="item row sticky">
			<a href="/">
				<div class="button" type="submit">
					<svg class="icon center" xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
					</svg>
				</div>
			</a>
			<h1 class="item row heading">Erzähler</h1>
			<a href="/narrator/settings">
				<div class="button settings">
					<i class="fa-solid fa-gear center"></i>
				</div>
			</a>
		</div>
		<div class="item row" style="height: 45px"></div>

		<div class="item row">
			<h2 id="playerCount">Spieler:</h2>
			<ul id="playerList"></ul>
		</div>

		<div class="item">
			<h2 class="row">Rollen</h2>
			<div class="row rolelist" id="playerRoles"></div>
		</div>

		<div class="item row" style="height: 20px"></div>
		<p class="row" id="roleError" style="color: red"></p>
		<button class="item row" id="start-button">Start Game</button>
		<div class="item row" style="height: 20px"></div>
		<button class="item row" id="night-button" onclick="window.location.href='/narrator/story'">Rundenmenü</button>
		<div class="item row" style="height: 20px"></div>
		<button class="item row" id="end-button">End Game</button>
	</div>
	
	<div class="item row bottom">
		<h2 class="item debug">Game State:</h2>
		<p class="item debug" id="gamestate"></p>
	</div>
</body>

<script>
	document.getElementById('end-button').onclick = function () {
		if (confirm('Are you sure you want to end this round?') == true) {
			fetch('/api/endgame').catch((e) => console.log('Something went wrong!'));

			list = document.getElementById('playerRoles');
			list.innerHTML = '<p><strong>Spieler</stong></p><p><strong>Rolle</stong></p><p><strong>Karte</stong></p>';
		}
	};

	document.getElementById('start-button').onclick = async function () {
		await fetch('/api/startgame')
			.then((r) => r.json())
			.then((data) => (gameData = data))
			.catch((e) => console.log('Something went wrong!'));

		console.log(gameData);

		if (gameData['status'] != 'success') {
			document.getElementById('roleError').innerHTML = gameData['data'];
			setTimeout(function() {document.getElementById('roleError').innerHTML = ''}, 3000);
		} else {
			getGameData();
		}
	};
</script>

<script type="text/javascript">
	oldData = {};

	setInterval(getGameData, 1000)
	fetch('/api/gamestate')
		.then((r) => r.json())
		.then((data) => {
			if (data == 'running') {
				getGameData();
			}
		})
		.catch((e) => console.log('Something went wrong!'));

	async function getGameData() {
		// retrieve game data
		await fetch('/api/getGameData')
			.then((r) => r.json())
			.then((data) => (gameData = data))
			.catch((e) => console.log('Something went wrong!'));

		if(gameData["status"] != "success") {
			return;
		}
		gameData = gameData["data"];
		//clear the player list
		list = document.getElementById('playerRoles');
		

		// get the proper names for all the roles
		await fetch('/api/getRoleMappings')
			.then((r) => r.json())
			.then((data) => (roleMappings = data))
			.catch((e) => console.log('Something went wrong!'));
		console.debug("gd", gameData)
		if(JSON.stringify(gameData) == JSON.stringify(oldData)) {
			return;
		} else {
			console.log("new data")
		}
		oldData = gameData;
		list.innerHTML = '<p><strong>Spieler</stong></p><p><strong>Rolle</stong></p><p><strong>Karte</stong></p>';

		// for each player, add a row with name, role and card
		for (const [name, profile] of Object.entries(gameData)) {
			nameField = document.createElement('p');
			nameField.innerHTML = name.charAt(0).toUpperCase() + name.slice(1);
			roleField = document.createElement('p');
			roleField.innerHTML = roleMappings[profile["role"]];
			

			// The card image, untilizing a checkbox to do the zooming-effect thingy
			// <div class="container">
			//   <input type="checkbox" id="zoomCheck">
			//   <label for="zoomCheck">
			//     <img src="https://via.placeholder.com/200">
			//   </label>
			// </div>
			div = document.createElement('div');
			div.className = 'zoomy_image';
			checkbox = document.createElement('input');
			checkbox.type = 'checkbox';
			checkbox.id = `${name}_zoomCheck`;
			label = document.createElement('label');
			label.htmlFor = `${name}_zoomCheck`;
			img = document.createElement('img');
			img.src = `/static/roles/${profile["role"]}/card.png`;
			img.className = 'role-card';
			img.width = 50;
			img.height = 50;
			if(!profile["alive"]) {
				nameField.style = "text-decoration: line-through";
				roleField.style = "text-decoration: line-through";
				img.style = "filter: grayscale(100%)";
			}
			if(profile["inLove"]) {
				nameField.innerHTML += ' <i class="fa-solid fa-heart" style="color: red;"></i>'
			}
			label.appendChild(img);
			div.appendChild(checkbox);
			div.appendChild(label);

			list.appendChild(nameField);
			list.appendChild(roleField);
			list.appendChild(div);
		}
	}
</script>

<script>
	var socket = io({ transports: ["websocket"] });

	socket.on('connect', function() {
		console.log('Socket connected');
	});

	socket.on('gameStatus', function(msg) {
		console.log('gameStatus', msg);
		document.getElementById('gamestate').innerHTML = msg.gameState;
		document.getElementById('playerCount').innerHTML = `Spieler: ${msg.playerList.length}`

		let list = document.getElementById('playerList');
		list.innerHTML = '';
		msg.playerList .forEach((player) => {
			let li = document.createElement('li');
			li.innerText = player.charAt(0).toUpperCase() + player.slice(1);
			list.appendChild(li);
		});

		if (msg.gameState) {
			document.getElementById('gamestate').style.color = 'green';
		} else {
			document.getElementById('gamestate').style.color = 'yellow';
		}
	});
</script>
