<!DOCTYPE html>
<title>Werewolf</title>
<h1>Welcome to Werewolf, you're playing as narrator!</h1>
<a href="/">Back</a>

<div>
    <h2>Players:</h2>
    <ul>
        
    </ul>

</div>

<script>
    // call api every 0.5 seconds to get the latest player list and update the page
    setInterval(getPlayers, 500);




    // maybe this can be put in a separate file? used in user.html as well
    async function getPlayers() {
        await fetch('/api/players')
            .then((r) => r.json())
            .then((data) => players = data)
            .catch((e) => console.log('Something went wrong!'));


        // players = JSON.parse(players);
        console.log(players);
        let list = document.querySelector('ul');
        list.innerHTML = '';
        if (players.length > 0) {
            players.forEach(player => {
                let li = document.createElement('li');
                li.innerText = player.charAt(0).toUpperCase() + player.slice(1);
                list.appendChild(li);
            });
            document.querySelector('h2').innerHTML = 'Players: ' + players.length;
        }
        else {
            let li = document.createElement('li');
            li.innerText = 'No players yet';
            list.appendChild(li);
            document.querySelector('h2').innerHTML = 'Players: 0';
        }
    }
</script>